.container {
    background-color: red;
    /* padding: 10px; */
    /* To tell grid how many cols will be there */
    display: grid;
    grid-template-rows: repeat(1, 200px);
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: 1fr 200px 1fr 1fr;  */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-auto-columns: 100px;
    grid-auto-rows: 100px; */
    /* grid-auto-flow: column; */
}

.item {
    background-color: rebeccapurple;
    margin: 10px;
}